.All_breed_div{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:40px;
    margin-top: 20px;
    padding: 30px;
}
.Single_breed_div{
    border: 1px solid rgb(221, 217, 217);
    border-radius: 10px;
    cursor: pointer;
}
.Single_breed_div:hover{
    background-color: rgb(197, 195, 195);
}