.Navbar_main_div{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
    background-color: rgb(167, 163, 163);
    position: sticky;
    top: 0;
    /* width: 100%; */
}
.Logout_button{
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(247, 169, 24);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* media query for tablet  */
@media only screen and (max-width: 800px) {
    .Navbar_main_div{
        width: 100%;
        padding: 0px;
    }
  }

/* media query for mobile */
@media only screen and (max-width: 500px) {
    .Navbar_main_div{
        width: 100%;
        padding: 5px;
    }
    .Logout_button{
        padding: 5px;
    }
  }